:root {
    --universo: #000000;
    --sol: linear-gradient(#D14009, #FC9601, #FFCC33, #FFE484, #D14009);
    --raiosolar: 0 0 60px #efea0a, 0 0 98px #e76f04;
    --mercurio: linear-gradient(#e7e8ec, #ada8a5, #b1adad, #8c8c94, #68696d);
    --mercurioShadow: ;
    --venus: linear-gradient(#a57c1b, #f9c21a, #f9c21a, #e7d520, #e7d520);
    --terra: linear-gradient(#070f40, #0a2f87, #0a2f87, #072057, #072057);
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: var(--universo);
}

.sistemaSolar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    transform: scaleX(5);
}

.sol {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image: var(--sol);
    box-shadow: var(--raiosolar);
    transform: scaleX(0.2);
}

.planetIndex {
    width: 100%;
    height: 100%;
    position: absolute;
}
@keyframes hideMercurio {
    0% {
        z-index: 8;
        transform: scale(0.9);
    }
    25% {
        z-index: -8;
        transform: scale(0.8);
    }
    50% {
        transform: scale(0.9);
    }
    75% {
        transform: scale(1.1);
    }
    100% {
        z-index: 8;
        transform: scale(0.9);
    }
}
@keyframes hideVenus {
    0% {
        z-index: -8;
        transform: scale(0.95);
    }
    60% {
        z-index: 8;
        transform: scale(1.1);
    }
    90% {
        transform: scale(0.9);
    }
    100% {
        z-index: -8;
        transform: scale(0.95);
    }
}
@keyframes hideTerra {
    0% {
        z-index: 8;
        transform: scale(1.1);
    }
    60% {
        z-index: -8;
        transform: scale(0.8);
    }
    100% {
        z-index: 8;
        transform: scale(1.1);
    }
}
#indexMercurio {
    animation: hideMercurio 12s infinite;
}
#indexVenus {
    animation: hideVenus 12s infinite;
}
#indexTerra {
    animation: hideTerra 12s infinite;
}

.translacao {
    width: 100%;
    height: 100%;
    animation: translacao 12s infinite linear;
    position: absolute;
}
@keyframes translacao {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

.orbita {
    width: 60px;
    height: 60px;
    animation: orbita 12s infinite linear;
    position: absolute;
}
@keyframes orbita {
    0% {
        transform: rotateZ(360deg);
    }
    100% {
        transform: rotateZ(0deg);
    }
}
#orbitaVenus {
    left: 85px;
}
#orbitaTerra {
    left: 42.5px;
    top: 100px;
}

.planet {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #ff0000;
    transform: scaleX(0.2);
}
.planet:after {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 50%;
}
#mercurio {
    background: var(--mercurio);
    animation: mercurioShadow 12s infinite linear;
}
#mercurio:after {
    animation: mercurioShadowRotater 12s infinite linear;
}
#venus {
    animation: venusShadow 12s infinite linear;
}
#venus:after {
    animation: venusShadowRotater 12s infinite linear;
}
#terra {
    animation: terraShadow 12s infinite linear;
}
#terra:after {
    animation: terraShadowRotater 12s infinite linear;
}

@keyframes mercurioShadow {
    0% {
        background: linear-gradient(-90deg, #6b6b6b 50%, #4b4b4b 50%);
    }
    12% {
        background: linear-gradient(-90deg, #6b6b6b 50%, #4b4b4b 50%);
    }
    12.1% {
        background: linear-gradient(90deg, #6b6b6b 50%, #4b4b4b 50%);
    }
    62% {
        background: linear-gradient(90deg, #6b6b6b 50%, #4b4b4b 50%);
    }
    62.1% {
        background: linear-gradient(-90deg, #6b6b6b 50%, #4b4b4b 50%);
    }
    100% {
        background: linear-gradient(-90deg, #6b6b6b 50%, #4b4b4b 50%);
    }
}
@keyframes mercurioShadowRotater {
    0% {
        transform: scaleX(0.2);
        background-color: #6b6b6b;
    }
    12% {
        transform: scaleX(1);
        background-color: #6b6b6b;
    }
    37% {
        transform: scaleX(0);
        background-color: #6b6b6b;
    }
    37.1% {
        transform: scaleX(0);
        background-color: #4b4b4b;
    }
    62% {
        transform: scaleX(1);
        background-color: #4b4b4b;
    }
    87% {
        transform: scaleX(0);
        background-color: #4b4b4b;
    }
    87.1% {
        transform: scaleX(0);
        background-color: #6b6b6b;
    }
    100% {
        transform: scaleX(0.2);
        background-color: #6b6b6b;
    }
}

@keyframes venusShadow {
    0% {
        background: linear-gradient(90deg, #ffde7b 50%, #ffc209 50%);
    }
    40% {
        background: linear-gradient(90deg,  #ffde7b 50%, #ffc209 50%);
    }
    40.1% {
        background: linear-gradient(-90deg, #ffde7b 50%, #ffc209 50%);
    }
    90% {
        background: linear-gradient(-90deg,  #ffde7b 50%, #ffc209 50%);
    }
    90.1% {
        background: linear-gradient(90deg,  #ffde7b 50%, #ffc209 50%);
    }
    100% {
        background: linear-gradient(90deg,  #ffde7b 50%, #ffc209 50%);
    }
}
@keyframes venusShadowRotater {
    0% {
        transform: scaleX(0.5);
        background-color: #ffde7b;
    }
    15% {
        transform: scaleX(0);
        background-color: #ffde7b;
    }
    15.1% {
        transform: scaleX(0);
        background-color: #ffc209;
    }
    40% {
        transform: scaleX(1);
        background-color: #ffc209;
    }
    65% {
        transform: scaleX(0);
        background-color: #ffc209;
    }
    65.1% {
        transform: scaleX(0);
        background-color: #ffde7b;
    }
    90% {
        transform: scaleX(1);
        background-color: #ffde7b;
    }
    100% {
        transform: scaleX(0.5);
        background-color: #ffde7b;
    }
}

@keyframes terraShadow {
    0% {
        background: linear-gradient(-90deg, #2259da 50%, #0044e2 50%);
    }
    49% {
        background: linear-gradient(-90deg,  #2259da 50%, #0044e2 50%);
    }
    49.1% {
        background: linear-gradient(90deg, #2259da 50%, #0044e2 50%);
    }
    99% {
        background: linear-gradient(90deg,  #2259da 50%, #0044e2 50%);
    }
    99.1% {
        background: linear-gradient(-90deg,  #2259da 50%, #0044e2 50%);
    }
    100% {
        background: linear-gradient(90deg,  #2259da 50%, #0044e2 50%);
    }
}
@keyframes terraShadowRotater {
    0% {
        transform: scaleX(1);
        background-color: #0044e2;
    }
    25% {
        transform: scaleX(0);
        background-color: #0044e2;
    }
    25.1% {
        transform: scaleX(0);
        background-color: #2259da;
    }
    49% {
        transform: scaleX(1);
        background-color: #2259da;
    }
    75% {
        transform: scaleX(0);
        background-color: #2259da;
    }
    75.1% {
        transform: scaleX(0);
        background-color: #0044e2;
    }
    100% {
        transform: scaleX(1);
        background-color: #0044e2;
    }
}