*, *:before, *:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100vh;
  width: 100vw;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 1em/1.45em;
  font-style: normal;
  color: #ffffff;
  background: radial-gradient(ellipse at bottom, #1C2837 0%, #050608 100%);
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  position: relative;
  font-weight: bold;
  font-size: 2.5em;
  font-style: italic;
  text-transform: uppercase;
  line-height: 1.1em;
  letter-spacing: 0.01em;
  z-index: 3;
}

a, a:visited {
  text-decoration: none;
  color: #ffffff;
  opacity: 0.7;
}
a:hover, a:visited:hover {
  opacity: 1;
}
a.icon, a:visited.icon {
  margin-right: 2px;
  padding: 3px;
}

.descricao {
  padding: 30px;
  position: absolute;
  top: 0;
  left: 0;
  width: 25%;
  z-index: 1;
}
.descricao p {
  position: relative;
  font-size: 0.9em;
  z-index: 2;
}
.descricao p + p {
  margin-top: 20px;
}
.descricao p.creditos {
  font-size: 0.7em;
}

hr {
  margin: 26px 0;
  border: 0;
  border-top: 1px solid #ffffff;
  background: transparent;
  width: 25%;
  opacity: 0.1;
}

.satelite {
  top: 35px;
  left: 155px;
  position: absolute;
  z-index: 0;
}

.restaurante {
  position: absolute;
  width: 30%;
  height: 30%;
  top: 42vh;
}

.sistemaSolar {
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 1;
}
.sistemaSolar:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 2px;
  top: -2px;
  background: #ffffff;
  box-shadow: 1793px 1261px 0 0px rgba(255, 255, 255, 0.722) , 163px 102px 0 0px rgba(255,255,255, 0.385) , 1555px 798px 0 0px rgba(255,255,255, 0.652) , 1612px 1228px 0 0px rgba(255,255,255, 0.536) , 826px 118px 0 0px rgba(255,255,255, 0.281) , 634px 924px 0 0px rgba(255,255,255, 0.448) , 108px 1455px 0 0px rgba(255,255,255, 0.497) , 1594px 1127px 0 0px rgba(255,255,255, 0.975) , 1243px 1187px 0 0px rgba(255,255,255, 0.374) , 510px 1482px 0 0px rgba(255,255,255, 0.603) , 996px 645px 0 0px rgba(255,255,255, 0.383) , 542px 1292px 0 0px rgba(255,255,255, 0.758) , 38px 933px 0 0px rgba(255,255,255, 0.42) , 593px 678px 0 0px rgba(255,255,255, 0.113) , 1469px 399px 0 0px rgba(255,255,255, 0.575) , 751px 1313px 0 0px rgba(255,255,255, 0.246) , 1057px 1632px 0 0px rgba(255,255,255, 0.039) , 900px 1091px 0 0px rgba(255,255,255, 0.944) , 1635px 1573px 0 0px rgba(255,255,255, 0.345) , 661px 1445px 0 0px rgba(255,255,255, 0.477) , 899px 1694px 0 0px rgba(255,255,255, 0.992) , 1780px 1388px 0 0px rgba(255,255,255, 0.356) , 1478px 1193px 0 0px rgba(255,255,255, 0.518) , 1554px 928px 0 0px rgba(255,255,255, 0.913) , 1302px 66px 0 0px rgba(255,255,255, 0.237) , 1360px 1102px 0 0px rgba(255,255,255, 0.213) , 1437px 51px 0 0px rgba(255,255,255, 0.414) , 450px 1708px 0 0px rgba(255,255,255, 0.354) , 844px 1007px 0 0px rgba(255,255,255, 0.506) , 652px 942px 0 0px rgba(255,255,255, 0.419) , 1436px 444px 0 0px rgba(255,255,255, 0.323) , 1219px 572px 0 0px rgba(255,255,255, 0.201) , 1548px 1353px 0 0px rgba(255,255,255, 0.446) , 614px 918px 0 0px rgba(255,255,255, 0.885) , 432px 136px 0 0px rgba(255,255,255, 0.169) , 253px 257px 0 0px rgba(255,255,255, 0.193) , 88px 1389px 0 0px rgba(255,255,255, 0.066) , 1754px 97px 0 0px rgba(255,255,255, 0.099) , 1144px 271px 0 0px rgba(255,255,255, 0.998) , 1485px 1549px 0 0px rgba(255,255,255, 0.148) , 1346px 1144px 0 0px rgba(255,255,255, 0.36) , 364px 545px 0 0px rgba(255,255,255, 0.684) , 1174px 1590px 0 0px rgba(255,255,255, 0.768) , 1029px 1505px 0 0px rgba(255,255,255, 0.12) , 670px 370px 0 0px rgba(255,255,255, 0.645) , 261px 1428px 0 0px rgba(255,255,255, 0.12) , 809px 458px 0 0px rgba(255,255,255, 0.624) , 20px 903px 0 0px rgba(255,255,255, 0.051) , 443px 369px 0 0px rgba(255,255,255, 0.375) , 1460px 1344px 0 0px rgba(255,255,255, 0.855) , 1597px 526px 0 0px rgba(255,255,255, 0.428) , 120px 562px 0 0px rgba(255,255,255, 0.752) , 514px 114px 0 0px rgba(255,255,255, 0.874) , 1790px 582px 0 0px rgba(255,255,255, 0.138) , 1071px 923px 0 0px rgba(255,255,255, 0.861) , 128px 725px 0 0px rgba(255,255,255, 0.496) , 962px 37px 0 0px rgba(255,255,255, 0.368) , 549px 1317px 0 0px rgba(255,255,255, 0.841) , 209px 1021px 0 0px rgba(255,255,255, 0.868) , 800px 867px 0 0px rgba(255,255,255, 0.068) , 1679px 1527px 0 0px rgba(255,255,255, 0.495) , 1037px 1202px 0 0px rgba(255,255,255, 0.813) , 719px 1344px 0 0px rgba(255,255,255, 0.475) , 1115px 533px 0 0px rgba(255,255,255, 0.159) , 1585px 1184px 0 0px rgba(255,255,255, 0.99) , 1394px 1003px 0 0px rgba(255,255,255, 0.097) , 1562px 1158px 0 0px rgba(255,255,255, 0.158) , 1543px 1730px 0 0px rgba(255,255,255, 0.967) , 1575px 1062px 0 0px rgba(255,255,255, 0.084) , 1540px 350px 0 0px rgba(255,255,255, 0.704) , 624px 1275px 0 0px rgba(255,255,255, 0.55) , 1774px 19px 0 0px rgba(255,255,255, 0.418) , 414px 31px 0 0px rgba(255,255,255, 0.039) , 1287px 553px 0 0px rgba(255,255,255, 0.681) , 1581px 286px 0 0px rgba(255,255,255, 0.974) , 1206px 1200px 0 0px rgba(255,255,255, 0.013) , 1303px 711px 0 0px rgba(255,255,255, 0.252) , 1202px 1758px 0 0px rgba(255,255,255, 0.679) , 1292px 891px 0 0px rgba(255,255,255, 0.216) , 1087px 1223px 0 0px rgba(255,255,255, 0.596) , 1645px 1530px 0 0px rgba(255,255,255, 0.648) , 1225px 133px 0 0px rgba(255,255,255, 0.495) , 27px 282px 0 0px rgba(255,255,255, 0.586) , 672px 1215px 0 0px rgba(255,255,255, 0.631) , 580px 1171px 0 0px rgba(255,255,255, 0.258) , 269px 343px 0 0px rgba(255,255,255, 0.531) , 1242px 345px 0 0px rgba(255,255,255, 0.452) , 214px 40px 0 0px rgba(255,255,255, 0.087) , 1497px 492px 0 0px rgba(255,255,255, 0.057) , 1351px 831px 0 0px rgba(255,255,255, 0.686) , 995px 1269px 0 0px rgba(255,255,255, 0.275) , 1677px 1590px 0 0px rgba(255,255,255, 0.206) , 1259px 1229px 0 0px rgba(255,255,255, 0.568) , 1356px 1249px 0 0px rgba(255,255,255, 0.862) , 338px 924px 0 0px rgba(255,255,255, 0.108) , 373px 372px 0 0px rgba(255,255,255, 0.153) , 1531px 584px 0 0px rgba(255,255,255, 0.946) , 473px 962px 0 0px rgba(255,255,255, 0.828) , 164px 1373px 0 0px rgba(255,255,255, 0.191) , 913px 914px 0 0px rgba(255,255,255, 0.272) , 1393px 1569px 0 0px rgba(255,255,255, 0.939) , 991px 1463px 0 0px rgba(255,255,255, 0.14) , 512px 249px 0 0px rgba(255,255,255, 0.405) , 733px 1776px 0 0px rgba(255,255,255, 0.276) , 770px 996px 0 0px rgba(255,255,255, 0.07) , 868px 204px 0 0px rgba(255,255,255, 0.038) , 784px 1427px 0 0px rgba(255,255,255, 0.639) , 842px 667px 0 0px rgba(255,255,255, 0.053) , 1529px 1694px 0 0px rgba(255,255,255, 0.803) , 804px 952px 0 0px rgba(255,255,255, 0.422) , 1594px 1469px 0 0px rgba(255,255,255, 0.027) , 948px 1788px 0 0px rgba(255,255,255, 0.388) , 379px 891px 0 0px rgba(255,255,255, 0.215) , 1728px 251px 0 0px rgba(255,255,255, 0.317) , 618px 854px 0 0px rgba(255,255,255, 0.036) , 947px 890px 0 0px rgba(255,255,255, 0.481) , 1094px 365px 0 0px rgba(255,255,255, 0.785) , 261px 1231px 0 0px rgba(255,255,255, 0.332) , 322px 1336px 0 0px rgba(255,255,255, 0.11) , 1179px 664px 0 0px rgba(255,255,255, 0.163) , 986px 1037px 0 0px rgba(255,255,255, 0.425) , 187px 899px 0 0px rgba(255,255,255, 0.9) , 426px 745px 0 0px rgba(255,255,255, 0.802) , 116px 323px 0 0px rgba(255,255,255, 0.15) , 1515px 1728px 0 0px rgba(255,255,255, 0.843) , 211px 837px 0 0px rgba(255,255,255, 0.655) , 1765px 1661px 0 0px rgba(255,255,255, 0.835) , 1598px 1262px 0 0px rgba(255,255,255, 0.528) , 1573px 879px 0 0px rgba(255,255,255, 0.129) , 511px 625px 0 0px rgba(255,255,255, 0.569) , 687px 1763px 0 0px rgba(255,255,255, 0.306) , 208px 1008px 0 0px rgba(255,255,255, 0.418) , 940px 927px 0 0px rgba(255,255,255, 0.834) , 122px 187px 0 0px rgba(255,255,255, 0.36) , 367px 346px 0 0px rgba(255,255,255, 0.415) , 1068px 1587px 0 0px rgba(255,255,255, 0.362) , 572px 726px 0 0px rgba(255,255,255, 0.651) , 588px 1585px 0 0px rgba(255,255,255, 0.946) , 269px 672px 0 0px rgba(255,255,255, 0.998) , 1792px 815px 0 0px rgba(255,255,255, 0.681) , 606px 1782px 0 0px rgba(255,255,255, 0.246) , 310px 51px 0 0px rgba(255,255,255, 0.289) , 304px 554px 0 0px rgba(255,255,255, 0.658) , 693px 1744px 0 0px rgba(255,255,255, 0.694) , 1313px 111px 0 0px rgba(255,255,255, 0.491) , 1663px 993px 0 0px rgba(255,255,255, 0.104) , 413px 1454px 0 0px rgba(255,255,255, 0.76) , 368px 1670px 0 0px rgba(255,255,255, 0.14) , 99px 426px 0 0px rgba(255,255,255, 0.943) , 1510px 1389px 0 0px rgba(255,255,255, 0.093) , 301px 1770px 0 0px rgba(255,255,255, 0.452) , 582px 1056px 0 0px rgba(255,255,255, 0.349) , 1226px 1337px 0 0px rgba(255,255,255, 0.919) , 643px 380px 0 0px rgba(255,255,255, 0.865) , 1751px 1462px 0 0px rgba(255,255,255, 0.571) , 1345px 1037px 0 0px rgba(255,255,255, 0.786) , 1693px 786px 0 0px rgba(255,255,255, 0.113) , 1648px 1570px 0 0px rgba(255,255,255, 0.096) , 1345px 763px 0 0px rgba(255,255,255, 0.963) , 1352px 627px 0 0px rgba(255,255,255, 0.576) , 21px 1692px 0 0px rgba(255,255,255, 0.055) , 1371px 557px 0 0px rgba(255,255,255, 0.883) , 1591px 328px 0 0px rgba(255,255,255, 0.572) , 1390px 1405px 0 0px rgba(255,255,255, 0.672) , 321px 61px 0 0px rgba(255,255,255, 0.644) , 48px 245px 0 0px rgba(255,255,255, 0.775) , 1562px 678px 0 0px rgba(255,255,255, 0.036) , 1297px 182px 0 0px rgba(255,255,255, 0.984) , 455px 275px 0 0px rgba(255,255,255, 0.838) , 1717px 1329px 0 0px rgba(255,255,255, 0.602) , 732px 793px 0 0px rgba(255,255,255, 0.621) , 1587px 465px 0 0px rgba(255,255,255, 0.234) , 542px 78px 0 0px rgba(255,255,255, 0.835) , 211px 1319px 0 0px rgba(255,255,255, 0.819) , 1069px 75px 0 0px rgba(255,255,255, 0.004) , 1484px 1615px 0 0px rgba(255,255,255, 0.621) , 1015px 1708px 0 0px rgba(255,255,255, 0.936) , 1588px 603px 0 0px rgba(255,255,255, 0.491) , 754px 499px 0 0px rgba(255,255,255, 0.173) , 1573px 1544px 0 0px rgba(255,255,255, 0.363) , 1744px 593px 0 0px rgba(255,255,255, 0.206) , 637px 1380px 0 0px rgba(255,255,255, 0.162) , 878px 607px 0 0px rgba(255,255,255, 0.475) , 635px 444px 0 0px rgba(255,255,255, 0.906) , 1246px 41px 0 0px rgba(255,255,255, 0.2) , 378px 1766px 0 0px rgba(255,255,255, 0.827) , 1227px 898px 0 0px rgba(255,255,255, 0.801) , 363px 737px 0 0px rgba(255,255,255, 0.111) , 1377px 1082px 0 0px rgba(255,255,255, 0.998) , 547px 40px 0 0px rgba(255,255,255, 0.244) , 1617px 1043px 0 0px rgba(255,255,255, 0.797) , 71px 192px 0 0px rgba(255,255,255, 0.048) , 1255px 1224px 0 0px rgba(255,255,255, 0.984) , 1415px 347px 0 0px rgba(255,255,255, 0.183) , 1657px 1628px 0 0px rgba(255,255,255, 0.658) , 643px 972px 0 0px rgba(255,255,255, 0.693) , 407px 1018px 0 0px rgba(255,255,255, 0.59) , 1550px 741px 0 0px rgba(255,255,255, 0.005) , 342px 797px 0 0px rgba(255,255,255, 0.031) , 1524px 1270px 0 0px rgba(255,255,255, 0.28) , 726px 1718px 0 0px rgba(255,255,255, 0.041) , 1609px 188px 0 0px rgba(255,255,255, 0.669) , 687px 459px 0 0px rgba(255,255,255, 0.392) , 1343px 1543px 0 0px rgba(255,255,255, 0.69) , 1109px 1484px 0 0px rgba(255,255,255, 0.652) , 1104px 1450px 0 0px rgba(255,255,255, 0.802) , 417px 875px 0 0px rgba(255,255,255, 0.489) , 755px 315px 0 0px rgba(255,255,255, 0.035) , 40px 1598px 0 0px rgba(255,255,255, 0.005) , 959px 1570px 0 0px rgba(255,255,255, 0.478) , 1514px 179px 0 0px rgba(255,255,255, 0.848) , 955px 1611px 0 0px rgba(255,255,255, 0.685) , 1793px 49px 0 0px rgba(255,255,255, 0.634) , 1314px 1408px 0 0px rgba(255,255,255, 0.538) , 364px 1753px 0 0px rgba(255,255,255, 0.064) , 549px 544px 0 0px rgba(255,255,255, 0.865) , 72px 13px 0 0px rgba(255,255,255, 0.369) , 1624px 710px 0 0px rgba(255,255,255, 0.235) , 1477px 1054px 0 0px rgba(255,255,255, 0.407) , 411px 574px 0 0px rgba(255,255,255, 0.874) , 870px 604px 0 0px rgba(255,255,255, 0.606) , 126px 1351px 0 0px rgba(255,255,255, 0.312) , 630px 550px 0 0px rgba(255,255,255, 0.166) , 280px 676px 0 0px rgba(255,255,255, 0.75) , 1152px 951px 0 0px rgba(255,255,255, 0.291) , 1658px 1621px 0 0px rgba(255,255,255, 0.949) , 941px 1052px 0 0px rgba(255,255,255, 0.153) , 1184px 1214px 0 0px rgba(255,255,255, 0.959) , 219px 137px 0 0px rgba(255,255,255, 0.659) , 340px 525px 0 0px rgba(255,255,255, 0.052) , 350px 1545px 0 0px rgba(255,255,255, 0.711) , 1766px 1537px 0 0px rgba(255,255,255, 0.051) , 1026px 1151px 0 0px rgba(255,255,255, 0.894) , 204px 438px 0 0px rgba(255,255,255, 0.674) , 1278px 138px 0 0px rgba(255,255,255, 0.222) , 1543px 1106px 0 0px rgba(255,255,255, 0.308) , 1383px 768px 0 0px rgba(255,255,255, 0.728) , 825px 175px 0 0px rgba(255,255,255, 0.975) , 1597px 1050px 0 0px rgba(255,255,255, 0.267) , 1413px 834px 0 0px rgba(255,255,255, 0.393) , 273px 1670px 0 0px rgba(255,255,255, 0.469) , 1059px 78px 0 0px rgba(255,255,255, 0.24) , 307px 660px 0 0px rgba(255,255,255, 0.093) , 945px 1306px 0 0px rgba(255,255,255, 0.639) , 1620px 899px 0 0px rgba(255,255,255, 0.499) , 1248px 227px 0 0px rgba(255,255,255, 0.626) , 677px 142px 0 0px rgba(255,255,255, 0.323) , 541px 1707px 0 0px rgba(255,255,255, 0.756) , 1113px 819px 0 0px rgba(255,255,255, 0.417) , 124px 968px 0 0px rgba(255,255,255, 0.042) , 1077px 664px 0 0px rgba(255,255,255, 0.316) , 390px 1313px 0 0px rgba(255,255,255, 0.897) , 361px 221px 0 0px rgba(255,255,255, 0.718) , 1222px 1520px 0 0px rgba(255,255,255, 0.868) , 1129px 1348px 0 0px rgba(255,255,255, 0.19) , 701px 1469px 0 0px rgba(255,255,255, 0.152) , 793px 480px 0 0px rgba(255,255,255, 0.752) , 1044px 1440px 0 0px rgba(255,255,255, 0.616) , 653px 1683px 0 0px rgba(255,255,255, 0.243) , 726px 247px 0 0px rgba(255,255,255, 0.309) , 1168px 765px 0 0px rgba(255,255,255, 0.824) , 965px 444px 0 0px rgba(255,255,255, 0.243) , 1148px 894px 0 0px rgba(255,255,255, 0.431) , 548px 679px 0 0px rgba(255,255,255, 0.895) , 218px 47px 0 0px rgba(255,255,255, 0.868) , 1716px 449px 0 0px rgba(255,255,255, 0.102) , 1375px 585px 0 0px rgba(255,255,255, 0.499) , 193px 540px 0 0px rgba(255,255,255, 0.695) , 533px 127px 0 0px rgba(255,255,255, 0.404) , 982px 409px 0 0px rgba(255,255,255, 0.904) , 505px 810px 0 0px rgba(255,255,255, 0.895) , 962px 56px 0 0px rgba(255,255,255, 0.733) , 1793px 1703px 0 0px rgba(255,255,255, 0.429) , 1171px 1250px 0 0px rgba(255,255,255, 0.483) , 1392px 607px 0 0px rgba(255,255,255, 0.622) , 118px 1563px 0 0px rgba(255,255,255, 0.972) , 1206px 673px 0 0px rgba(255,255,255, 0.737) , 680px 1448px 0 0px rgba(255,255,255, 0.801) , 1380px 892px 0 0px rgba(255,255,255, 0.294) , 264px 1633px 0 0px rgba(255,255,255, 0.134) , 1500px 1705px 0 0px rgba(255,255,255, 0.296) , 152px 1094px 0 0px rgba(255,255,255, 0.568) , 739px 93px 0 0px rgba(255,255,255, 0.531) , 629px 1572px 0 0px rgba(255,255,255, 0.087) , 328px 499px 0 0px rgba(255,255,255, 0.465) , 806px 141px 0 0px rgba(255,255,255, 0.017) , 167px 1439px 0 0px rgba(255,255,255, 0.045) , 605px 992px 0 0px rgba(255,255,255, 0.271) , 636px 128px 0 0px rgba(255,255,255, 0.204) , 839px 1656px 0 0px rgba(255,255,255, 0.022) , 20px 46px 0 0px rgba(255,255,255, 0.06) , 106px 117px 0 0px rgba(255,255,255, 0.955) , 861px 579px 0 0px rgba(255,255,255, 0.772) , 957px 1027px 0 0px rgba(255,255,255, 0.733) , 1636px 1707px 0 0px rgba(255,255,255, 0.377) , 517px 446px 0 0px rgba(255,255,255, 0.647) , 1545px 1667px 0 0px rgba(255,255,255, 0.732) , 754px 2px 0 0px rgba(255,255,255, 0.159) , 1536px 301px 0 0px rgba(255,255,255, 0.04) , 1542px 804px 0 0px rgba(255,255,255, 0.323) , 1747px 560px 0 0px rgba(255,255,255, 0.134) , 1754px 555px 0 0px rgba(255,255,255, 0.07) , 1023px 1411px 0 0px rgba(255,255,255, 0.156) , 1510px 355px 0 0px rgba(255,255,255, 0.837) , 1585px 527px 0 0px rgba(255,255,255, 0.863) , 873px 902px 0 0px rgba(255,255,255, 0.161) , 981px 1751px 0 0px rgba(255,255,255, 0.776) , 40px 1077px 0 0px rgba(255,255,255, 0.404) , 1720px 207px 0 0px rgba(255,255,255, 0.097) , 1126px 1261px 0 0px rgba(255,255,255, 0.636) , 668px 488px 0 0px rgba(255,255,255, 0.033) , 96px 1465px 0 0px rgba(255,255,255, 0.848) , 1154px 469px 0 0px rgba(255,255,255, 0.241) , 638px 229px 0 0px rgba(255,255,255, 0.533) , 4px 316px 0 0px rgba(255,255,255, 0.519) , 1683px 1131px 0 0px rgba(255,255,255, 0.409) , 527px 989px 0 0px rgba(255,255,255, 0.917) , 1101px 743px 0 0px rgba(255,255,255, 0.976) , 147px 1267px 0 0px rgba(255,255,255, 0.563) , 1300px 1225px 0 0px rgba(255,255,255, 0.424) , 1717px 1447px 0 0px rgba(255,255,255, 0.059) , 656px 1213px 0 0px rgba(255,255,255, 0.161) , 696px 1400px 0 0px rgba(255,255,255, 0.348) , 96px 1773px 0 0px rgba(255,255,255, 0.513) , 1359px 1281px 0 0px rgba(255,255,255, 0.347) , 1699px 886px 0 0px rgba(255,255,255, 0.731) , 90px 1378px 0 0px rgba(255,255,255, 0.543) , 902px 380px 0 0px rgba(255,255,255, 0.693) , 307px 766px 0 0px rgba(255,255,255, 0.53) , 496px 523px 0 0px rgba(255,255,255, 0.575) , 1249px 399px 0 0px rgba(255,255,255, 0.076) , 952px 68px 0 0px rgba(255,255,255, 0.499) , 1422px 1158px 0 0px rgba(255,255,255, 0.273) , 1434px 64px 0 0px rgba(255,255,255, 0.988) , 1049px 128px 0 0px rgba(255,255,255, 0.705) , 1171px 695px 0 0px rgba(255,255,255, 0.625) , 1612px 1761px 0 0px rgba(255,255,255, 0.463) , 310px 840px 0 0px rgba(255,255,255, 0.021) , 1789px 795px 0 0px rgba(255,255,255, 0.299) , 1533px 478px 0 0px rgba(255,255,255, 0.197) , 273px 586px 0 0px rgba(255,255,255, 0.617) , 369px 808px 0 0px rgba(255,255,255, 0.94) , 1202px 940px 0 0px rgba(255,255,255, 0.638) , 1574px 572px 0 0px rgba(255,255,255, 0.81) , 1596px 552px 0 0px rgba(255,255,255, 0.606) , 216px 212px 0 0px rgba(255,255,255, 0.209) , 147px 1415px 0 0px rgba(255,255,255, 0.771) , 339px 547px 0 0px rgba(255,255,255, 0.877) , 61px 443px 0 0px rgba(255,255,255, 0.651) , 661px 1243px 0 0px rgba(255,255,255, 0.944) , 631px 378px 0 0px rgba(255,255,255, 0.242) , 344px 174px 0 0px rgba(255,255,255, 0.927) , 1600px 1099px 0 0px rgba(255,255,255, 0.564) , 1334px 1430px 0 0px rgba(255,255,255, 0.771) , 596px 461px 0 0px rgba(255,255,255, 0.083) , 1161px 264px 0 0px rgba(255,255,255, 0.786) , 919px 566px 0 0px rgba(255,255,255, 0.686) , 798px 1351px 0 0px rgba(255,255,255, 0.855) , 557px 406px 0 0px rgba(255,255,255, 0.032) , 38px 1411px 0 0px rgba(255,255,255, 0.534) , 1750px 773px 0 0px rgba(255,255,255, 0.86) , 1776px 1426px 0 0px rgba(255,255,255, 0.386) , 1278px 737px 0 0px rgba(255,255,255, 0.491) , 1492px 1577px 0 0px rgba(255,255,255, 0.876) , 801px 1699px 0 0px rgba(255,255,255, 0.942) , 392px 1745px 0 0px rgba(255,255,255, 0.516) , 31px 1082px 0 0px rgba(255,255,255, 0.137) , 422px 947px 0 0px rgba(255,255,255, 0.44) , 236px 1312px 0 0px rgba(255,255,255, 0.645) , 549px 818px 0 0px rgba(255,255,255, 0.944) , 912px 1602px 0 0px rgba(255,255,255, 0.539) , 1055px 1026px 0 0px rgba(255,255,255, 0.525) , 1790px 591px 0 0px rgba(255,255,255, 0.52) , 1409px 48px 0 0px rgba(255,255,255, 0.313) , 1694px 1275px 0 0px rgba(255,255,255, 0.241) , 1534px 1058px 0 0px rgba(255,255,255, 0.668) , 548px 293px 0 0px rgba(255,255,255, 0.746) , 481px 1022px 0 0px rgba(255,255,255, 0.724) , 792px 723px 0 0px rgba(255,255,255, 0.286) , 916px 1062px 0 0px rgba(255,255,255, 0.996) , 108px 1065px 0 0px rgba(255,255,255, 0.724) , 904px 1506px 0 0px rgba(255,255,255, 0.768) , 580px 1007px 0 0px rgba(255,255,255, 0.376) , 19px 442px 0 0px rgba(255,255,255, 0.466) , 1194px 706px 0 0px rgba(255,255,255, 0.454) , 43px 906px 0 0px rgba(255,255,255, 0.558) , 311px 448px 0 0px rgba(255,255,255, 0.574) , 1094px 247px 0 0px rgba(255,255,255, 0.066) , 844px 554px 0 0px rgba(255,255,255, 0.181) , 279px 1296px 0 0px rgba(255,255,255, 0.636) , 1082px 1043px 0 0px rgba(255,255,255, 0.401) , 1528px 534px 0 0px rgba(255,255,255, 0.382) , 37px 1536px 0 0px rgba(255,255,255, 0.307) , 44px 15px 0 0px rgba(255,255,255, 0.807) , 1597px 1122px 0 0px rgba(255,255,255, 0.56) , 184px 1005px 0 0px rgba(255,255,255, 0.321) , 273px 251px 0 0px rgba(255,255,255, 0.084) , 1355px 778px 0 0px rgba(255,255,255, 0.888) , 36px 1156px 0 0px rgba(255,255,255, 0.324) , 1318px 1543px 0 0px rgba(255,255,255, 0.998) , 1406px 1576px 0 0px rgba(255,255,255, 0.507) , 1598px 531px 0 0px rgba(255,255,255, 0.473) , 1741px 1356px 0 0px rgba(255,255,255, 0.879) , 427px 14px 0 0px rgba(255,255,255, 0.804) , 786px 1462px 0 0px rgba(255,255,255, 0.177) , 447px 1171px 0 0px rgba(255,255,255, 0.419) , 1736px 620px 0 0px rgba(255,255,255, 0.515) , 252px 1030px 0 0px rgba(255,255,255, 0.133) , 206px 1772px 0 0px rgba(255,255,255, 0.996) , 388px 841px 0 0px rgba(255,255,255, 0.347) , 321px 169px 0 0px rgba(255,255,255, 0.41) , 479px 1412px 0 0px rgba(255,255,255, 0.505) , 1565px 1118px 0 0px rgba(255,255,255, 0.081) , 119px 1120px 0 0px rgba(255,255,255, 0.132) , 732px 897px 0 0px rgba(255,255,255, 0.877) , 1625px 750px 0 0px rgba(255,255,255, 0.718) , 1664px 897px 0 0px rgba(255,255,255, 0.136) , 300px 471px 0 0px rgba(255,255,255, 0.396) , 1490px 989px 0 0px rgba(255,255,255, 0.015) , 536px 842px 0 0px rgba(255,255,255, 0.711) , 625px 797px 0 0px rgba(255,255,255, 0.281) , 1337px 759px 0 0px rgba(255,255,255, 0.556) , 794px 1656px 0 0px rgba(255,255,255, 0.872) , 253px 935px 0 0px rgba(255,255,255, 0.119) , 1303px 792px 0 0px rgba(255,255,255, 0.723) , 394px 35px 0 0px rgba(255,255,255, 0.701) , 1383px 208px 0 0px rgba(255,255,255, 0.44) , 44px 1028px 0 0px rgba(255,255,255, 0.92) , 1443px 593px 0 0px rgba(255,255,255, 0.13) , 1326px 229px 0 0px rgba(255,255,255, 0.359) , 123px 1608px 0 0px rgba(255,255,255, 0.397) , 953px 1279px 0 0px rgba(255,255,255, 0.694) , 454px 744px 0 0px rgba(255,255,255, 0.518) , 1377px 451px 0 0px rgba(255,255,255, 0.876) , 476px 859px 0 0px rgba(255,255,255, 0.362) , 526px 1341px 0 0px rgba(255,255,255, 0.309) , 992px 114px 0 0px rgba(255,255,255, 0.029) , 565px 1535px 0 0px rgba(255,255,255, 0.744) , 624px 1742px 0 0px rgba(255,255,255, 0.889) , 1517px 320px 0 0px rgba(255,255,255, 0.016) , 38px 929px 0 0px rgba(255,255,255, 0.418) , 997px 320px 0 0px rgba(255,255,255, 0.535) , 216px 679px 0 0px rgba(255,255,255, 0.988) , 1797px 1665px 0 0px rgba(255,255,255, 0.44) , 1279px 648px 0 0px rgba(255,255,255, 0.226) , 267px 1191px 0 0px rgba(255,255,255, 0.217) , 74px 849px 0 0px rgba(255,255,255, 0.182) , 218px 1146px 0 0px rgba(255,255,255, 0.781) , 1379px 1787px 0 0px rgba(255,255,255, 0.372) , 421px 1794px 0 0px rgba(255,255,255, 0.692) , 126px 723px 0 0px rgba(255,255,255, 0.104) , 1618px 1373px 0 0px rgba(255,255,255, 0.783) , 1499px 243px 0 0px rgba(255,255,255, 0.736) , 1699px 1354px 0 0px rgba(255,255,255, 0.932) , 1777px 1660px 0 0px rgba(255,255,255, 0.014) , 626px 1784px 0 0px rgba(255,255,255, 0.501) , 1601px 856px 0 0px rgba(255,255,255, 0.686) , 291px 1432px 0 0px rgba(255,255,255, 0.487) , 919px 1642px 0 0px rgba(255,255,255, 0.051) , 706px 614px 0 0px rgba(255,255,255, 0.94) , 99px 279px 0 0px rgba(255,255,255, 0.848) , 1302px 171px 0 0px rgba(255,255,255, 0.032) , 881px 914px 0 0px rgba(255,255,255, 0.507) , 784px 1400px 0 0px rgba(255,255,255, 0.293) , 613px 1793px 0 0px rgba(255,255,255, 0.402) , 579px 556px 0 0px rgba(255,255,255, 0.24) , 1616px 1228px 0 0px rgba(255,255,255, 0.751) , 1536px 175px 0 0px rgba(255,255,255, 0.993) , 1733px 960px 0 0px rgba(255,255,255, 0.68) , 836px 1021px 0 0px rgba(255,255,255, 0.935) , 795px 468px 0 0px rgba(255,255,255, 0.029) , 1234px 345px 0 0px rgba(255,255,255, 0.344) , 1744px 1483px 0 0px rgba(255,255,255, 0.373) , 1005px 26px 0 0px rgba(255,255,255, 0.361) , 1672px 1750px 0 0px rgba(255,255,255, 0.135) , 529px 1014px 0 0px rgba(255,255,255, 0.942) , 1581px 33px 0 0px rgba(255,255,255, 0.083) , 48px 1147px 0 0px rgba(255,255,255, 0.79) , 1623px 728px 0 0px rgba(255,255,255, 0.503) , 1350px 1314px 0 0px rgba(255,255,255, 0.549) , 1774px 1550px 0 0px rgba(255,255,255, 0.559) , 610px 1115px 0 0px rgba(255,255,255, 0.932) , 111px 1140px 0 0px rgba(255,255,255, 0.519) , 380px 1665px 0 0px rgba(255,255,255, 0.515) , 426px 1326px 0 0px rgba(255,255,255, 0.281) , 1133px 1296px 0 0px rgba(255,255,255, 0.279) , 988px 598px 0 0px rgba(255,255,255, 0.227) , 768px 685px 0 0px rgba(255,255,255, 0.721) , 84px 753px 0 0px rgba(255,255,255, 0.601) , 144px 1704px 0 0px rgba(255,255,255, 0.865) , 547px 634px 0 0px rgba(255,255,255, 0.179) , 1497px 714px 0 0px rgba(255,255,255, 0.298) , 185px 181px 0 0px rgba(255,255,255, 0.34) , 533px 1622px 0 0px rgba(255,255,255, 0.536) , 1054px 741px 0 0px rgba(255,255,255, 0.253) , 1338px 552px 0 0px rgba(255,255,255, 0.725) , 1393px 1373px 0 0px rgba(255,255,255, 0.989) , 498px 271px 0 0px rgba(255,255,255, 0.701) , 1318px 1596px 0 0px rgba(255,255,255, 0.065) , 996px 488px 0 0px rgba(255,255,255, 0.914);
  border-radius: 100px;
}
.sistemaSolar div {
  border-radius: 1000px;
  top: 80%;
  left: 50%;
  position: absolute;
}
.sistemaSolar div:not(.sun) {
  border: 1px solid rgba(102, 166, 229, 0.12);
}
.sistemaSolar div:not(.sun):before {
  left: 50%;
  border-radius: 100px;
  content: "";
  position: absolute;
}
.sistemaSolar div:not(.asteroides):before {
  box-shadow: inset 0 6px 0 -2px rgba(0, 0, 0, 0.25);
}

.sol {
  background: radial-gradient(ellipse at center, #ffd000 1%, #f9b700 39%, #f9b700 39%, #e06317 100%);
  height: 40px;
  width: 40px;
  margin-top: -20px;
  margin-left: -20px;
  background-clip: padding-box;
  border: 0 !important;
  background-position: -28px -103px;
  background-size: 175%;
  box-shadow: 0 0 10px 2px rgba(255, 107, 0, 0.4), 0 0 22px 11px rgba(255, 203, 0, 0.13);
  z-index: 999;
}

.sol model-viewer {
  height: 40px;
  width: 40px;
  margin-top: 0;
  margin-left: 0;
  z-index: 999;
}

.mercurio {
  height: 70px;
  width: 70px;
  margin-top: -35px;
  margin-left: -35px;
  animation: orb 7.1867343561s linear infinite;
  z-index: 998;
}
.mercurio:before {
  height: 4px;
  width: 4px;
  background: #9f5e26;
  margin-top: -2px;
  margin-left: -2px;
  z-index: 998;
}

.mercurio model-viewer {
  height: 4px;
  width: 4px;
  margin-top: -2px;
  margin-left: 32px;
  z-index: 999;
}

.venus {
  height: 100px;
  width: 100px;
  margin-top: -50px;
  margin-left: -50px;
  animation: orb 18.4555338265s linear infinite;
  z-index: 3;
}
.venus:before {
  height: 8px;
  width: 8px;
  background: #BEB768;
  margin-top: -4px;
  margin-left: -4px;
  z-index: 3;
}

.venus model-viewer {
  height: 8px;
  width: 8px;
  margin-top: -4px;
  margin-left: 45px;
  z-index: 999;
}

.terra {
  height: 145px;
  width: 145px;
  margin-top: -72.5px;
  margin-left: -72.5px;
  animation: orb 30s linear infinite;
  z-index: 4;
}
.terra:before {
  height: 6px;
  width: 6px;
  background: #11abe9;
  margin-top: -3px;
  margin-left: -3px;
  z-index: 4;
}
.terra:after {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 50%;
  top: 0;
  margin-left: -9px;
  margin-top: -9px;
  border-radius: 100px;
  box-shadow: 0 -10px 0 -8px #808080;
  z-index: 5;
  animation: orb 2.2440352158s linear infinite;
}

.marte {
  height: 190px;
  width: 190px;
  margin-top: -95px;
  margin-left: -95px;
  z-index: 6;
  animation: orb 56.4261314589s linear infinite;
}
.marte:before {
  height: 6px;
  width: 6px;
  background: #cf3921;
  margin-top: -3px;
  margin-left: -3px;
  z-index: 6;
}

.jupiter {
  height: 340px;
  width: 340px;
  margin-top: -170px;
  margin-left: -170px;
  animation: orb 355.7228171013s linear infinite;
  z-index: 7;
}
.jupiter:before {
  height: 18px;
  width: 18px;
  background: #c76e2a;
  margin-top: -9px;
  margin-left: -9px;
  z-index: 7;
}

.saturno {
  height: 440px;
  width: 440px;
  margin-top: -220px;
  margin-left: -220px;
  animation: orb 882.6952471456s linear infinite;
  z-index: 8;
}
.saturno:before {
  height: 12px;
  width: 12px;
  background: #e7c194;
  margin-top: -6px;
  margin-left: -6px;
  z-index: 8;
}
.saturno:after {
  position: absolute;
  content: "";
  height: 2.34%;
  width: 4.676%;
  left: 50%;
  top: 0px;
  transform: rotateZ(-52deg);
  margin-left: -2.3%;
  margin-top: -1.2%;
  border-radius: 50% 50% 50% 50%;
  box-shadow: 0 1px 0 1px #987641, 3px 1px 0 #987641, -3px 1px 0 #987641;
  animation: orb 882.6952471456s linear infinite;
  animation-direction: reverse;
  transform-origin: 52% 60%;
  z-index: 9;
}

.urano {
  height: 520px;
  width: 520px;
  margin-top: -260px;
  margin-left: -260px;
  animation: orb 2512.4001967933s linear infinite;
  z-index: 10;
}
.urano:before {
  height: 10px;
  width: 10px;
  background: #b5e3e3;
  margin-top: -5px;
  margin-left: -5px;
  z-index: 10;
}

.netuno {
  height: 630px;
  width: 630px;
  margin-top: -315px;
  margin-left: -315px;
  animation: orb 4911.7838624549s linear infinite;
  z-index: 11;
}
.netuno:before {
  height: 10px;
  width: 10px;
  background: #175e9e;
  margin-top: -5px;
  margin-left: -5px;
  z-index: 11;
}

.asteroides {
  opacity: 0.7;
  border-color: transparent !important;
  height: 300px;
  width: 300px;
  margin-top: -150px;
  margin-left: -150px;
  animation: orb 179.9558282773s linear infinite;
  z-index: 13;
}
.asteroides:before {
  top: 50%;
  height: 210px;
  width: 210px;
  margin-top: -105px;
  margin-left: -105px;
  background: transparent;
  border-radius: 140px !important;
  box-shadow: -25px -55px 0 -104px rgba(255, 255, 255, 0.13) , 57px -9px 0 -104px rgba(255,255,255, 0.453) , -91px 136px 0 -104px rgba(255,255,255, 0.856) , -87px -13px 0 -104px rgba(255,255,255, 0.624) , -14px -102px 0 -104px rgba(255,255,255, 0.776) , -104px -128px 0 -104px rgba(255,255,255, 0.755) , 64px -22px 0 -104px rgba(255,255,255, 0.558) , -135px -117px 0 -104px rgba(255,255,255, 0.842) , 99px -95px 0 -104px rgba(255,255,255, 0.996) , 4px -72px 0 -104px rgba(255,255,255, 0.922) , 52px 50px 0 -104px rgba(255,255,255, 0.103) , 19px 131px 0 -104px rgba(255,255,255, 0.417) , -57px -60px 0 -104px rgba(255,255,255, 0.618) , 119px 48px 0 -104px rgba(255,255,255, 0.568) , 97px 18px 0 -104px rgba(255,255,255, 0.407) , -124px 116px 0 -104px rgba(255,255,255, 0.245) , 139px -48px 0 -104px rgba(255,255,255, 0.818) , -39px 129px 0 -104px rgba(255,255,255, 0.335) , -11px -25px 0 -104px rgba(255,255,255, 0.655) , -98px 61px 0 -104px rgba(255,255,255, 0.077) , -109px 140px 0 -104px rgba(255,255,255, 0.173) , 77px 35px 0 -104px rgba(255,255,255, 0.174) , 126px 110px 0 -104px rgba(255,255,255, 0.223) , 125px 18px 0 -104px rgba(255,255,255, 0.044) , 1px 72px 0 -104px rgba(255,255,255, 0.168) , -69px 81px 0 -104px rgba(255,255,255, 0.687) , -48px 139px 0 -104px rgba(255,255,255, 0.735) , 30px -29px 0 -104px rgba(255,255,255, 0.356) , 124px -22px 0 -104px rgba(255,255,255, 0.026) , -80px -32px 0 -104px rgba(255,255,255, 0.673) , -49px 9px 0 -104px rgba(255,255,255, 0.185) , 117px 129px 0 -104px rgba(255,255,255, 0.927) , 36px 89px 0 -104px rgba(255,255,255, 0.003) , 99px -80px 0 -104px rgba(255,255,255, 0.903) , -17px 86px 0 -104px rgba(255,255,255, 0.206) , -73px 40px 0 -104px rgba(255,255,255, 0.478) , -118px 30px 0 -104px rgba(255,255,255, 0.415) , 30px -57px 0 -104px rgba(255,255,255, 0.406) , 5px -29px 0 -104px rgba(255,255,255, 0.841) , 53px 99px 0 -104px rgba(255,255,255, 0.384) , 2px -125px 0 -104px rgba(255,255,255, 0.236) , -11px -70px 0 -104px rgba(255,255,255, 0.662) , 11px -36px 0 -104px rgba(255,255,255, 0.359) , -105px 10px 0 -104px rgba(255,255,255, 0.193) , -55px 7px 0 -104px rgba(255,255,255, 0.003) , -126px 69px 0 -104px rgba(255,255,255, 0.207) , -52px -75px 0 -104px rgba(255,255,255, 0.563) , 120px -126px 0 -104px rgba(255,255,255, 0.13) , 126px -75px 0 -104px rgba(255,255,255, 0.597) , 55px -26px 0 -104px rgba(255,255,255, 0.274) , 47px 111px 0 -104px rgba(255,255,255, 0.677) , 95px -7px 0 -104px rgba(255,255,255, 0.882) , 3px 118px 0 -104px rgba(255,255,255, 0.99) , -48px 25px 0 -104px rgba(255,255,255, 0.498) , -29px -6px 0 -104px rgba(255,255,255, 0.898) , -113px -143px 0 -104px rgba(255,255,255, 0.029) , -126px -94px 0 -104px rgba(255,255,255, 0.886) , 127px 33px 0 -104px rgba(255,255,255, 0.514) , -115px -42px 0 -104px rgba(255,255,255, 0.615) , 35px -135px 0 -104px rgba(255,255,255, 0.547) , -54px 64px 0 -104px rgba(255,255,255, 0.65) , -42px -52px 0 -104px rgba(255,255,255, 0.575) , 11px -107px 0 -104px rgba(255,255,255, 0.116) , -78px -120px 0 -104px rgba(255,255,255, 0.172) , -65px 60px 0 -104px rgba(255,255,255, 0.303) , -79px -108px 0 -104px rgba(255,255,255, 0.395) , 88px -143px 0 -104px rgba(255,255,255, 0.484) , -131px -55px 0 -104px rgba(255,255,255, 0.034) , -22px -97px 0 -104px rgba(255,255,255, 0.664) , -113px -1px 0 -104px rgba(255,255,255, 0.958) , -42px -101px 0 -104px rgba(255,255,255, 0.591) , 7px -53px 0 -104px rgba(255,255,255, 0.541) , 14px 76px 0 -104px rgba(255,255,255, 0.447) , 12px -8px 0 -104px rgba(255,255,255, 0.637) , 90px 105px 0 -104px rgba(255,255,255, 0.029) , 50px 53px 0 -104px rgba(255,255,255, 0.833) , 23px -76px 0 -104px rgba(255,255,255, 0.176) , -138px -99px 0 -104px rgba(255,255,255, 0.184) , -43px -68px 0 -104px rgba(255,255,255, 0.852) , 15px -15px 0 -104px rgba(255,255,255, 0.387) , 61px -11px 0 -104px rgba(255,255,255, 0.88) , -121px 21px 0 -104px rgba(255,255,255, 0.54) , -80px -59px 0 -104px rgba(255,255,255, 0.238) , -94px 128px 0 -104px rgba(255,255,255, 0.497) , -95px 124px 0 -104px rgba(255,255,255, 0.115) , -102px 71px 0 -104px rgba(255,255,255, 0.429) , -105px -95px 0 -104px rgba(255,255,255, 0.153) , -63px 94px 0 -104px rgba(255,255,255, 0.679) , 42px 3px 0 -104px rgba(255,255,255, 0.181) , 121px -111px 0 -104px rgba(255,255,255, 0.669) , -69px 127px 0 -104px rgba(255,255,255, 0.272) , 98px -111px 0 -104px rgba(255,255,255, 0.509) , 136px -97px 0 -104px rgba(255,255,255, 0.961) , -76px 14px 0 -104px rgba(255,255,255, 0.899) , -53px -5px 0 -104px rgba(255,255,255, 0.267) , 103px -126px 0 -104px rgba(255,255,255, 0.869) , 96px 63px 0 -104px rgba(255,255,255, 0.344) , -71px -6px 0 -104px rgba(255,255,255, 0.65) , -61px 48px 0 -104px rgba(255,255,255, 0.564) , 118px 33px 0 -104px rgba(255,255,255, 0.453) , -94px 51px 0 -104px rgba(255,255,255, 0.061) , 110px -13px 0 -104px rgba(255,255,255, 0.371) , 140px -62px 0 -104px rgba(255,255,255, 0.599) , -91px -74px 0 -104px rgba(255,255,255, 0.653) , 139px 56px 0 -104px rgba(255,255,255, 0.309) , -81px -80px 0 -104px rgba(255,255,255, 0.051) , 102px -106px 0 -104px rgba(255,255,255, 0.428) , 126px 83px 0 -104px rgba(255,255,255, 0.23) , -124px 88px 0 -104px rgba(255,255,255, 0.478) , 145px -13px 0 -104px rgba(255,255,255, 0.053) , -101px 116px 0 -104px rgba(255,255,255, 0.946) , -74px 28px 0 -104px rgba(255,255,255, 0.827) , 27px 42px 0 -104px rgba(255,255,255, 0.3) , 24px -107px 0 -104px rgba(255,255,255, 0.064) , 22px 130px 0 -104px rgba(255,255,255, 0.784) , 5px -113px 0 -104px rgba(255,255,255, 0.111) , 108px -120px 0 -104px rgba(255,255,255, 0.089) , 18px -39px 0 -104px rgba(255,255,255, 0.779) , 63px 107px 0 -104px rgba(255,255,255, 0.298) , 72px 107px 0 -104px rgba(255,255,255, 0.069) , 131px 26px 0 -104px rgba(255,255,255, 0.469) , -6px -11px 0 -104px rgba(255,255,255, 0.709) , -122px -69px 0 -104px rgba(255,255,255, 0.461) , -134px 23px 0 -104px rgba(255,255,255, 0.244) , -75px -132px 0 -104px rgba(255,255,255, 0.287) , 95px -68px 0 -104px rgba(255,255,255, 0.227) , 68px -63px 0 -104px rgba(255,255,255, 0.161) , -51px 92px 0 -104px rgba(255,255,255, 0.106) , 123px 63px 0 -104px rgba(255,255,255, 0.977) , 41px 42px 0 -104px rgba(255,255,255, 0.247) , 13px 26px 0 -104px rgba(255,255,255, 0.506) , 67px 118px 0 -104px rgba(255,255,255, 0.942) , -141px -117px 0 -104px rgba(255,255,255, 0.542) , 114px 116px 0 -104px rgba(255,255,255, 0.184) , 99px 107px 0 -104px rgba(255,255,255, 0.237) , 19px -132px 0 -104px rgba(255,255,255, 0.396) , 31px -110px 0 -104px rgba(255,255,255, 0.813) , 17px 92px 0 -104px rgba(255,255,255, 0.437) , 70px -103px 0 -104px rgba(255,255,255, 0.808) , 139px 137px 0 -104px rgba(255,255,255, 0.81) , -25px 88px 0 -104px rgba(255,255,255, 0.802) , 43px -27px 0 -104px rgba(255,255,255, 0.349) , 134px 30px 0 -104px rgba(255,255,255, 0.06) , 11px 108px 0 -104px rgba(255,255,255, 0.727) , 30px 88px 0 -104px rgba(255,255,255, 0.389) , -30px 78px 0 -104px rgba(255,255,255, 0.182) , 21px -52px 0 -104px rgba(255,255,255, 0.735) , -56px 110px 0 -104px rgba(255,255,255, 0.358) , -35px -123px 0 -104px rgba(255,255,255, 0.811) , -13px -101px 0 -104px rgba(255,255,255, 0.543) , -90px -91px 0 -104px rgba(255,255,255, 0.1) , -26px 82px 0 -104px rgba(255,255,255, 0.831) , -16px -64px 0 -104px rgba(255,255,255, 0.244) , -36px 1px 0 -104px rgba(255,255,255, 0.436) , 21px 2px 0 -104px rgba(255,255,255, 0.923) , 22px -127px 0 -104px rgba(255,255,255, 0.186) , -24px 43px 0 -104px rgba(255,255,255, 0.913) , -135px -124px 0 -104px rgba(255,255,255, 0.53) , 59px 17px 0 -104px rgba(255,255,255, 0.023) , 15px 92px 0 -104px rgba(255,255,255, 0.934) , 83px 95px 0 -104px rgba(255,255,255, 0.893) , 7px -81px 0 -104px rgba(255,255,255, 0.305) , 78px 129px 0 -104px rgba(255,255,255, 0.313) , -104px -48px 0 -104px rgba(255,255,255, 0.495) , -117px -1px 0 -104px rgba(255,255,255, 0.345) , -90px -109px 0 -104px rgba(255,255,255, 0.951) , 93px 62px 0 -104px rgba(255,255,255, 0.583) , -25px -25px 0 -104px rgba(255,255,255, 0.195) , -101px -132px 0 -104px rgba(255,255,255, 0.348) , 108px 140px 0 -104px rgba(255,255,255, 0.514) , -113px 17px 0 -104px rgba(255,255,255, 0.591) , 80px 7px 0 -104px rgba(255,255,255, 0.645) , -31px 76px 0 -104px rgba(255,255,255, 0.448) , -99px 47px 0 -104px rgba(255,255,255, 0.232) , 110px -84px 0 -104px rgba(255,255,255, 0.13) , 134px -9px 0 -104px rgba(255,255,255, 0.041) , -108px -29px 0 -104px rgba(255,255,255, 0.088) , -112px -71px 0 -104px rgba(255,255,255, 0.922) , 64px -52px 0 -104px rgba(255,255,255, 0.17) , 36px -104px 0 -104px rgba(255,255,255, 0.58) , 3px 84px 0 -104px rgba(255,255,255, 0.217) , -130px 42px 0 -104px rgba(255,255,255, 0.456) , -14px 136px 0 -104px rgba(255,255,255, 0.674) , -133px -20px 0 -104px rgba(255,255,255, 0.105) , -91px 61px 0 -104px rgba(255,255,255, 0.018) , 70px -25px 0 -104px rgba(255,255,255, 0.363) , -94px 132px 0 -104px rgba(255,255,255, 0.839) , 128px 144px 0 -104px rgba(255,255,255, 0.606) , 118px -75px 0 -104px rgba(255,255,255, 0.842) , -113px 59px 0 -104px rgba(255,255,255, 0.045) , 8px 101px 0 -104px rgba(255,255,255, 0.519) , -60px -26px 0 -104px rgba(255,255,255, 0.993) , -68px -115px 0 -104px rgba(255,255,255, 0.977) , -38px 102px 0 -104px rgba(255,255,255, 0.948) , 131px 62px 0 -104px rgba(255,255,255, 0.732) , 89px 123px 0 -104px rgba(255,255,255, 0.302) , -39px -106px 0 -104px rgba(255,255,255, 0.03) , 9px -9px 0 -104px rgba(255,255,255, 0.393) , 92px -132px 0 -104px rgba(255,255,255, 0.123) , 27px 95px 0 -104px rgba(255,255,255, 0.562) , -56px -47px 0 -104px rgba(255,255,255, 0.167) , 95px -138px 0 -104px rgba(255,255,255, 0.987) , 34px 91px 0 -104px rgba(255,255,255, 0.449) , -53px -138px 0 -104px rgba(255,255,255, 0.947) , 21px -116px 0 -104px rgba(255,255,255, 0.394) , -35px 34px 0 -104px rgba(255,255,255, 0.879) , 64px 50px 0 -104px rgba(255,255,255, 0.747) , -40px -20px 0 -104px rgba(255,255,255, 0.094) , 29px 72px 0 -104px rgba(255,255,255, 0.614) , -98px 48px 0 -104px rgba(255,255,255, 0.967) , 119px -53px 0 -104px rgba(255,255,255, 0.274) , 126px 111px 0 -104px rgba(255,255,255, 0.931) , -51px 138px 0 -104px rgba(255,255,255, 0.305) , 87px -72px 0 -104px rgba(255,255,255, 0.43) , 140px 108px 0 -104px rgba(255,255,255, 0.025) , -95px 92px 0 -104px rgba(255,255,255, 0.093) , -124px -36px 0 -104px rgba(255,255,255, 0.383) , -79px -111px 0 -104px rgba(255,255,255, 0.776) , -77px 7px 0 -104px rgba(255,255,255, 0.374) , 80px 1px 0 -104px rgba(255,255,255, 0.106) , -92px -134px 0 -104px rgba(255,255,255, 0.533) , 122px -54px 0 -104px rgba(255,255,255, 0.683) , -127px -98px 0 -104px rgba(255,255,255, 0.651) , -44px -8px 0 -104px rgba(255,255,255, 0.434) , 90px 106px 0 -104px rgba(255,255,255, 0.998) , 145px 8px 0 -104px rgba(255,255,255, 0.851) , -130px -56px 0 -104px rgba(255,255,255, 0.264) , 17px -118px 0 -104px rgba(255,255,255, 0.674) , -5px 23px 0 -104px rgba(255,255,255, 0.455) , 143px 49px 0 -104px rgba(255,255,255, 0.685) , -80px -137px 0 -104px rgba(255,255,255, 0.182) , 117px -45px 0 -104px rgba(255,255,255, 0.302) , -1px 88px 0 -104px rgba(255,255,255, 0.797) , 9px -124px 0 -104px rgba(255,255,255, 0.335) , -110px -52px 0 -104px rgba(255,255,255, 0.726) , -45px 94px 0 -104px rgba(255,255,255, 0.388) , 60px -124px 0 -104px rgba(255,255,255, 0.132) , 133px 102px 0 -104px rgba(255,255,255, 0.477) , 38px 117px 0 -104px rgba(255,255,255, 0.455) , 125px 58px 0 -104px rgba(255,255,255, 0.274) , -134px -53px 0 -104px rgba(255,255,255, 0.817) , -91px 35px 0 -104px rgba(255,255,255, 0.192) , -61px 113px 0 -104px rgba(255,255,255, 0.657) , 18px 110px 0 -104px rgba(255,255,255, 0.344) , -6px -3px 0 -104px rgba(255,255,255, 0.308) , -104px 11px 0 -104px rgba(255,255,255, 0.191) , -55px 32px 0 -104px rgba(255,255,255, 0.261) , -46px -63px 0 -104px rgba(255,255,255, 0.995) , -53px -36px 0 -104px rgba(255,255,255, 0.26) , 68px -113px 0 -104px rgba(255,255,255, 0.269) , 98px 30px 0 -104px rgba(255,255,255, 0.11) , 49px 38px 0 -104px rgba(255,255,255, 0.16) , -20px 125px 0 -104px rgba(255,255,255, 0.733) , -99px -46px 0 -104px rgba(255,255,255, 0.977) , 74px 23px 0 -104px rgba(255,255,255, 0.276) , 30px -7px 0 -104px rgba(255,255,255, 0.013) , -100px 106px 0 -104px rgba(255,255,255, 0.442) , 66px 116px 0 -104px rgba(255,255,255, 0.239) , 144px -33px 0 -104px rgba(255,255,255, 0.097) , -101px -61px 0 -104px rgba(255,255,255, 0.404) , 92px 139px 0 -104px rgba(255,255,255, 0.189) , 116px 23px 0 -104px rgba(255,255,255, 0.841) , -24px 41px 0 -104px rgba(255,255,255, 0.513) , -20px 53px 0 -104px rgba(255,255,255, 0.419) , -68px 7px 0 -104px rgba(255,255,255, 0.267) , -43px 116px 0 -104px rgba(255,255,255, 0.228) , 59px -111px 0 -104px rgba(255,255,255, 0.659) , -122px 46px 0 -104px rgba(255,255,255, 0.601) , 23px 47px 0 -104px rgba(255,255,255, 0.016) , 71px -136px 0 -104px rgba(255,255,255, 0.688) , 48px 90px 0 -104px rgba(255,255,255, 0.624) , 132px -69px 0 -104px rgba(255,255,255, 0.109) , -69px -60px 0 -104px rgba(255,255,255, 0.412) , -129px 78px 0 -104px rgba(255,255,255, 0.676) , -14px -39px 0 -104px rgba(255,255,255, 0.103) , -109px -118px 0 -104px rgba(255,255,255, 0.02) , -106px -18px 0 -104px rgba(255,255,255, 0.914) , 65px 84px 0 -104px rgba(255,255,255, 0.654) , 84px 88px 0 -104px rgba(255,255,255, 0.687) , -112px 11px 0 -104px rgba(255,255,255, 0.417) , 62px 95px 0 -104px rgba(255,255,255, 0.13) , 46px -10px 0 -104px rgba(255,255,255, 0.407) , 111px 35px 0 -104px rgba(255,255,255, 0.311) , -84px -66px 0 -104px rgba(255,255,255, 0.937) , 111px -66px 0 -104px rgba(255,255,255, 0.47) , 142px -122px 0 -104px rgba(255,255,255, 0.096) , 17px 4px 0 -104px rgba(255,255,255, 0.936) , -15px -113px 0 -104px rgba(255,255,255, 0.234) , -63px -110px 0 -104px rgba(255,255,255, 0.107) , -129px 140px 0 -104px rgba(255,255,255, 0.62) , -98px -9px 0 -104px rgba(255,255,255, 0.728) , -123px -118px 0 -104px rgba(255,255,255, 0.732) , 55px 65px 0 -104px rgba(255,255,255, 0.013) , -30px 85px 0 -104px rgba(255,255,255, 0.622) , -48px 77px 0 -104px rgba(255,255,255, 0.975) , 120px -83px 0 -104px rgba(255,255,255, 0.624) , -64px 0px 0 -104px rgba(255,255,255, 0.262) , 58px 80px 0 -104px rgba(255,255,255, 0.843) , -47px -130px 0 -104px rgba(255,255,255, 0.707) , -35px 1px 0 -104px rgba(255,255,255, 0.401) , 4px 73px 0 -104px rgba(255,255,255, 0.262) , 139px -29px 0 -104px rgba(255,255,255, 0.734) , -16px -120px 0 -104px rgba(255,255,255, 0.207) , -105px 11px 0 -104px rgba(255,255,255, 0.635) , -79px 30px 0 -104px rgba(255,255,255, 0.255) , -123px 105px 0 -104px rgba(255,255,255, 0.492) , 31px -66px 0 -104px rgba(255,255,255, 0.085) , 85px 84px 0 -104px rgba(255,255,255, 0.53) , -65px 93px 0 -104px rgba(255,255,255, 0.709) , -69px 62px 0 -104px rgba(255,255,255, 0.185) , -133px 53px 0 -104px rgba(255,255,255, 0.213) , 29px 79px 0 -104px rgba(255,255,255, 0.394) , -139px 73px 0 -104px rgba(255,255,255, 0.943) , -31px -54px 0 -104px rgba(255,255,255, 0.236) , -102px -144px 0 -104px rgba(255,255,255, 0.349) , -39px 19px 0 -104px rgba(255,255,255, 0.072) , 136px -70px 0 -104px rgba(255,255,255, 0.053) , 121px -8px 0 -104px rgba(255,255,255, 0.087) , -11px -2px 0 -104px rgba(255,255,255, 0.323) , 142px 45px 0 -104px rgba(255,255,255, 0.085) , -102px 141px 0 -104px rgba(255,255,255, 0.918) , 102px -19px 0 -104px rgba(255,255,255, 0.815) , -84px -125px 0 -104px rgba(255,255,255, 0.561) , 59px -111px 0 -104px rgba(255,255,255, 0.476) , 115px 65px 0 -104px rgba(255,255,255, 0.71) , 23px -114px 0 -104px rgba(255,255,255, 0.767) , 97px -143px 0 -104px rgba(255,255,255, 0.922) , -93px -1px 0 -104px rgba(255,255,255, 0.458) , -17px 9px 0 -104px rgba(255,255,255, 0.167) , 79px 95px 0 -104px rgba(255,255,255, 0.54) , 107px -117px 0 -104px rgba(255,255,255, 0.875) , 135px 35px 0 -104px rgba(255,255,255, 0.292) , 26px 50px 0 -104px rgba(255,255,255, 0.839) , -58px 104px 0 -104px rgba(255,255,255, 0.228) , -15px -114px 0 -104px rgba(255,255,255, 0.298) , 76px -139px 0 -104px rgba(255,255,255, 0.08) , 36px -69px 0 -104px rgba(255,255,255, 0.454) , -129px -126px 0 -104px rgba(255,255,255, 0.743) , 86px 45px 0 -104px rgba(255,255,255, 0.369) , 64px 113px 0 -104px rgba(255,255,255, 0.934) , -56px 119px 0 -104px rgba(255,255,255, 0.139) , -118px 14px 0 -104px rgba(255,255,255, 0.94) , -120px 40px 0 -104px rgba(255,255,255, 0.679) , -125px 128px 0 -104px rgba(255,255,255, 0.391) , 125px -136px 0 -104px rgba(255,255,255, 0.73) , -31px 114px 0 -104px rgba(255,255,255, 0.793) , -106px -37px 0 -104px rgba(255,255,255, 0.338) , -132px 133px 0 -104px rgba(255,255,255, 0.605) , -106px 44px 0 -104px rgba(255,255,255, 0.934) , -6px 111px 0 -104px rgba(255,255,255, 0.126) , -23px -2px 0 -104px rgba(255,255,255, 0.559) , 39px 65px 0 -104px rgba(255,255,255, 0.43) , 117px 145px 0 -104px rgba(255,255,255, 0.857) , 18px -95px 0 -104px rgba(255,255,255, 0.623) , 118px -66px 0 -104px rgba(255,255,255, 0.042) , -59px 59px 0 -104px rgba(255,255,255, 0.116) , -53px 63px 0 -104px rgba(255,255,255, 0.111) , -5px 88px 0 -104px rgba(255,255,255, 0.902) , -102px 140px 0 -104px rgba(255,255,255, 0.107) , 90px 20px 0 -104px rgba(255,255,255, 0.83) , -80px 47px 0 -104px rgba(255,255,255, 0.572) , -115px -139px 0 -104px rgba(255,255,255, 0.889) , 124px -95px 0 -104px rgba(255,255,255, 0.842) , -23px 98px 0 -104px rgba(255,255,255, 0.348) , -83px 54px 0 -104px rgba(255,255,255, 0.221) , 18px 91px 0 -104px rgba(255,255,255, 0.882) , 102px -65px 0 -104px rgba(255,255,255, 0.328) , 102px -46px 0 -104px rgba(255,255,255, 0.625) , 125px -29px 0 -104px rgba(255,255,255, 0.17) , 33px -81px 0 -104px rgba(255,255,255, 0.656) , -65px -58px 0 -104px rgba(255,255,255, 0.931) , 88px 45px 0 -104px rgba(255,255,255, 0.58) , 115px 108px 0 -104px rgba(255,255,255, 0.917) , 139px 51px 0 -104px rgba(255,255,255, 0.447) , -109px -34px 0 -104px rgba(255,255,255, 0.542) , -5px -142px 0 -104px rgba(255,255,255, 0.868) , 95px -79px 0 -104px rgba(255,255,255, 0.613) , -58px -125px 0 -104px rgba(255,255,255, 0.085) , 15px 135px 0 -104px rgba(255,255,255, 0.386) , -104px 28px 0 -104px rgba(255,255,255, 0.963) , -55px 38px 0 -104px rgba(255,255,255, 0.374) , 13px -90px 0 -104px rgba(255,255,255, 0.318) , 123px -140px 0 -104px rgba(255,255,255, 0.405) , -120px -92px 0 -104px rgba(255,255,255, 0.718) , -12px 112px 0 -104px rgba(255,255,255, 0.09) , 20px -99px 0 -104px rgba(255,255,255, 0.72) , 138px 80px 0 -104px rgba(255,255,255, 0.941) , -86px 44px 0 -104px rgba(255,255,255, 0.154) , -102px -34px 0 -104px rgba(255,255,255, 0.762) , 103px -68px 0 -104px rgba(255,255,255, 0.228);
  z-index: 13;
}

.plutao {
  height: 780px;
  width: 780px;
  margin-top: -450px;
  margin-left: -320px;
  animation: orb 7439.7074054575s linear infinite;
  z-index: 12;
}
.plutao:before {
  height: 3px;
  width: 3px;
  background: #ffffff;
  margin-top: -1.5px;
  margin-left: -1.5px;
  z-index: 12;
}

.links {
  margin-top: 5px !important;
  font-size: 1em !important;
}

@keyframes orb {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
@media screen and (max-width: 800px) {
  .sistemaSolar {
    right: 80vw;
  }
  .descricao {
    width: 100%;
  }
}
.button {
  text-decoration: none;
  font-size: 0.875rem;
  font-weight: 300;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 1.5rem;
  background: #fff;
  color: #9191E9;
  padding: 1rem 2rem;
}

.popup {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  overflow: hiden;
  transition: 0.64s ease-in-out;
}
.popup-inner {
  position: relative;
  bottom: -100vw;
  right: -100vh;
  display: flex;
  align-items: center;
  max-width: 800px;
  max-height: 600px;
  width: 60%;
  height: 80%;
  background-color: #fff;
  transform: rotate(32deg);
  transition: 0.64s ease-in-out;
}
.popup__photo {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 40%;
  height: 100%;
  overflow: hidden;
}
.popup__photo img {
  width: auto;
  height: 100%;
}
.popup__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  height: 100%;
  padding: 4rem;
}
.popup__text h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
  text-transform: uppercase;
  color: #0A0A0A;
}
.popup__text p {
  font-size: 0.875rem;
  color: #686868;
  line-height: 1.5;
}
.popup:target {
  visibility: visible;
  opacity: 1;
}
.popup:target .popup-inner {
  bottom: 0;
  right: 0;
  transform: rotate(0);
}
.popup__close {
  position: absolute;
  right: -1rem;
  top: -1rem;
  width: 3rem;
  height: 3rem;
  font-size: 0.875rem;
  font-weight: 300;
  border-radius: 100%;
  background-color: #0A0A0A;
  z-index: 4;
  color: #fff;
  line-height: 3rem;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}

.all {
  position: absolute;
  z-index: 999;
  bottom: 35%;
}

.all:hover {
  perspective: 1000px;
  transition: all 1.3s ease-in;
  transform: perspective(10000px) rotateX(0deg);
}
.all:hover .text {
  opacity: 1;
}
.all:hover > div {
  opacity: 1;
  transition-delay: 0s;
}
.all:hover .explainer {
  opacity: 0;
}

.left, .center, .right, .lefter, .righter {
  width: 200px;
  height: 150px;
  transform-style: preserve-3d;
  border-radius: 10px;
  border: 1px solid #fff;
  box-shadow: 0 0 20px 5px rgba(100, 100, 255, 0.4);
  opacity: 0;
  transition: all 0.3s ease;
  transition-delay: 1s;
  position: relative;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #58d;
  cursor: pointer;
  background-blend-mode: color-burn;
}
.left:hover, .center:hover, .right:hover, .lefter:hover, .righter:hover {
  box-shadow: 0 0 30px 10px rgba(100, 100, 255, 0.6);
  background-color: #ccf;
}

.text {
  transform: translateY(30px);
  opacity: 0;
  transition: all 0.3s ease;
  bottom: 0;
  left: 5px;
  position: absolute;
  will-change: transform;
  color: #fff;
  text-shadow: 0 0 5px rgba(100, 100, 255, 0.6);
}

.lefter {
  transform: translateX(-60px) translateZ(-50px) rotateY(-10deg);
  background-image: url(https://cdn3.iconfinder.com/data/icons/other-icons/48/organization-512.png);
}

.left {
  transform: translateX(-30px) translateZ(-25px) rotateY(-5deg);
  background-image: url(https://cdn3.iconfinder.com/data/icons/other-icons/48/creative_draw-512.png);
}

.center {
  opacity: 1;
  background-image: url(https://cdn3.iconfinder.com/data/icons/other-icons/48/app_window-512.png);
}

.right {
  transform: translateX(30px) translateZ(-25px) rotateY(5deg);
  background-image: url(https://cdn3.iconfinder.com/data/icons/other-icons/48/cloud_weather-512.png);
}

.righter {
  transform: translateX(60px) translateZ(-50px) rotateY(10deg);
  background-image: url(https://cdn3.iconfinder.com/data/icons/other-icons/48/search-512.png);
}

.explainer {
  font-weight: 300;
  font-size: 2rem;
  color: #fff;
  transition: all 0.6s ease;
  width: 100%;
  height: 100%;
  background-color: #303050;
  background-image: radial-gradient(circle at center top, #cce, #33a);
  border-radius: 10px;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.ref {
  background-color: #000;
  background-image: linear-gradient(to bottom, #d80, #c00);
  border-radius: 3px;
  padding: 7px 10px;
  position: absolute;
  font-size: 16px;
  bottom: 10px;
  right: 10px;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
}
.ref::first-letter {
  font-size: 12px;
}/*# sourceMappingURL=bento.css.map */